:root {
    --text: #060d09;
    --bg: #fff;
    --border: #e5e4e7;
    --accent: #3e9c56;
    --text-subtle: #7f857f;

    --text-sm: 16px;
    --text-md: 18px;

    font-size: var(--text-md);
    font-family: "Necto Mono", monospace;
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #f3f4f6;
        --bg: #161d19;
        --border: #2e303a;
        --accent: #3e9c56;
    }
}

@font-face {
    font-family: "Necto Mono";
    src: url("/fonts/NectoMono-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

[popover] {
    /* Your popover styles */
    border: none;
    padding: 1rem;
    margin: auto;
    /* backdrop is automatically managed */
}

[popover]::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

button {
    font-size: var(--text-sm);
    font-family: "Necto Mono", monospace;
    cursor: pointer;
}

input {
    font-size: var(--text-sm);
    font-family: "Necto Mono", monospace;
}

.linkButton {
    border: none;
    background-color: transparent;
    color: var(--accent);
    text-decoration: underline;
}
